<%= link_to "Home", root_path %>
<%= link_to "About", about_path %>

<h1>About</h1>
<p>Rails 7 alpha 2 with ESBuild.</p>

<sl-alert open>
  <sl-icon slot="icon" name="info-circle"></sl-icon>
  This is a standard alert. You can customize its content and even the icon.
</sl-alert>

<%= render 'main/tabs' %>